$center-form-space: 0.2rem;
$input-font-size: 1.6rem;
$default-input-border: solid 0.2rem $black;
$error-input-border: solid 0.2rem $red;

.contact {
  padding: 2rem 3rem 4rem;
  flex-direction: column;
  align-items: center;
  background-color: #fbfbe9;

  @include tablet {
    width: 100%;
    display: flex;
    padding: 4rem 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0.4rem;

    @include tablet {
      width: 56rem;
    }

    label {
      display: none;
    }

    .form-inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      @include tablet {
        flex-direction: row;
      }

      .left {
        width: 100%;

        @include tablet {
          margin-right: $center-form-space;
          width: inherit;
        }

        .contact-field {
          margin-bottom: 0.4rem;
          display: flex;

          &:last-child {
            @include tablet {
              margin-bottom: 0;
            }
          }
        }

        .field-input {
          border: $default-input-border;
          padding: 1rem;
          font-size: $input-font-size;
          width: 100%;
          outline: none;

          &--error {
            @extend .field-input;
            border: $error-input-border;
          }
        }
      }

      .right {
        display: flex;
        width: 100%;
        //margin-top: 1rem;

        @include tablet {
          //width: 28rem;
          margin-left: $center-form-space;
        }
        .contact-field {
          display: flex;
          width: 100%;

          .textarea {
            border: $default-input-border;
            font-size: $input-font-size;
            padding: 1rem;
            position: relative;
            flex: 1 0;

            &--error {
              @extend .textarea;
              border: $error-input-border;
            }
          }
        }
      }
    }

    .bottom {
      align-items: center;
      display: flex;
      margin-top: 0.4rem;
      width: 100%;
      justify-content: space-between;

      @include tablet {
        margin-top: 1rem;
      }

      .error {
        color: $red;
        font-size: 1.6rem;
        text-align: left;
      }
      p + button {
        background-color: $red;

      }
      button {
        align-self: flex-end;
        border: 0;
        border-radius: 0;
        color: $white;
        font-size: 1.4rem;
        flex: 0 1 3rem;
        padding: 0.5rem 2rem;
      }
    }
  }

  &-text {
    color: $black;
    margin-top: 2rem;
    font-size: 1.4rem;
  }
}