
.page-header{
  //background-color: #282b2e;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  z-index: 10;





}

.logo-area {
  display: flex;
  //align-items: center;
  justify-content: space-between;
  padding: 0.25em 1em;

  @include tablet {
    flex-direction: column;
  }

  .menu-button {
    color: white;
    font-size: 2.7rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    outline: none;

    @include tablet {
      display: none;
    }
  }

  img {
    position: absolute;

    top: 0;
    right: 0;
    float: right;
    height: 3em;
    width: 6rem;
    text-align: center;
    margin-right: 5px;
    margin-top: 4px;

    @include tablet {
      position: absolute;
      top: 7px;
      left: 30px;
      width: 15rem;
      height: 7em;
      margin-left: initial;
    }

    @media only screen and(min-width: 1440px) {
      width: 24rem;
      height: 10em;
      margin-left: calc(1%);
    }
  }

  .social {
    display: none;
    @include tablet {
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 14px;
      right: 3rem;
      width: 116px;
      height: 11rem;
      font-size: 3rem;
      padding: 0;
      margin: auto;
      justify-content: space-between;
    }

    a { color: $white; }


  }

}

.social ul{
  padding: 0;
  //background: aqua;
  justify-content: center;
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 62px;

  i{
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;
      background-color: white;
    }
  }

  li{
    margin: 34px;

    span{
      &:hover{
        transform: scale(1.1);
      }
    }

  }
}

.fa-stack{
  margin: 0px;
  height: 60%;
  border-radius: 3px;
  width: 98%;
  background-color: white;
  line-height: 55px;



}

.facebook{
  color: #3b5998;
  width: 53px;
  height: 52.9px;
}

.instagram{
  color: white;
  font-size: 45px;
  text-align: center;
  width: 56px;
  height: 56px;
  border-radius: .2em;

  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
  radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
  radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
  radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),

  radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
  radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),

  radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

  linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);;
}

.yelp{

  color: white;
  background-color: #c41200;
  height: 57px;
  width: 54px;
  text-align: center;
  font-size: 44px;

}

.jello-horizontal:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1) scale(1.2);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1) scale(1.3);

  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1), scale(1.2);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1) scale(1.3);
  }
}
