@import "constants/width";
@import "constants/colors";

html {
  background-color: get('colors.warning');
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  body {
    margin: 0;
    min-width: $MIN_WIDTH;

    .page {
      color: #fff;
      display: flex;
      flex-direction: column;
      text-align: center;

      .main-img {
        background-color: black;
        height: 20rem;
        margin-top: 0;
        padding: 3rem;

        @include tablet {
          height: 50rem;
          margin-top: 28.3rem;
          padding: 0 0 4rem 0;
        }
      }

      @import "header";
      @import "hero";
      @import "story";
      @import "services";
      @import "food-menu";

    }
  }
}





